{{ template "layout" .}}

{{ define "content" }}

<div class="w3-container w3-blue-grey w3-margin-bottom">
    <h3>List of Activities</h3>
</div>


<table class="w3-table w3-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Venue</th>
        <th>Host</th>
        <th>Status</th>
        <th>Remarks</th>
        <th>Actions</th>
    </tr>

    {{ range .Data }}
    <tr>
        <td>{{ .ID }}</td>
        <td>{{.Title}}</td>
        <td>{{.Start}}</td>
        <td>{{.End}}</td>
        <td>{{.Venue}}</td>
        <td>{{.Host}}</td>
        <td><span class="w3-tag w3-small w3-round-large w3-yellow">{{.Status}}</span></td>
        <td>{{.Remarks}}</td>
        <td>
            <button class="w3-button w3-small w3-round w3-blue">View</button>
            <button class="w3-button w3-small w3-round w3-deep-orange">Edit</button>
            <button class="w3-button w3-small w3-round w3-pink">Delete</button>
        </td>
    </tr>
    {{end}}
</table>

<a href="/activities/new" class="w3-button w3-ripple w3-margin w3-teal">Create</a>
{{ end }}