{{template "layout" .}}

{{ define "content" }}
<div class="w3-container w3-blue-grey">
    <h3>{{ if .Data.activity }}Edit{{else}}New{{ end }} Activity</h3>
</div>

<form method="post" action="{{ if .Data.activity }}/activities/{{.Data.activity.ID}}{{ else }}/activities{{end}}">

    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <div class="w3-row w3-margin-top w3-margin-left w3-margin-right">
        <div class="w3-rest">
            <label><b>Title</b></label>
            <textarea name="title" class="w3-input w3-border w3-light-grey" rows="2" placeholder="Title of the activity"
                required>{{ if .Data.activity }}{{ .Data.activity.Title }}{{ end }}</textarea>
        </div>
    </div>
    <div class="w3-row-padding w3-margin-top">
        <div class="w3-half">

            <label><b>Start Date</b></label>
            <input name="start_date" class="w3-input w3-border w3-light-grey" type="date" required
                value="{{ if .Data.activity }}{{.Data.activity.ParseDate .Data.activity.Start }}{{ end }}">
        </div>

        <div class="w3-half">

            <label><b>End Date</b></label>
            <input name="end_date" class="w3-input w3-border w3-light-grey" type="date" required
                value="{{ if .Data.activity }}{{.Data.activity.ParseDate .Data.activity.End }}{{ end }}">
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top">
        <div class="w3-half">

            <label><b>Venue</b></label>
            <input name="venue" class="w3-input w3-border w3-light-grey" type="text" placeholder="Venue of the activity"
                required value="{{ if .Data.activity }}{{ .Data.activity.Venue }}{{ end }}">
        </div>
        <div class="w3-half">

            <label><b>Host</b></label>
            <input name="host" class="w3-input w3-border w3-light-grey" type="text" placeholder="Host of the activity"
                required value="{{ if .Data.activity }}{{ .Data.activity.Host }}{{ end }}">
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top">
        <div class="w3-half">
            <label><b>Status</b></label>
            <select class="w3-select w3-border" name="status" required>
                <option value="" disabled selected>Choose a st</span>atus...</option>
                <option value="1" {{ if eq 1 .Data.activity.Status }}selected{{ end }}>To be conducted</option>
                <option value="2" {{ if eq 2 .Data.activity.Status }}selected{{ end }}>Conducted</option>
                <option value="3" {{ if eq 3 .Data.activity.Status }}selected{{ end }}>Rescheduled</option>
                <option value="4" {{ if eq 4 .Data.activity.Status }}selected{{ end }}>Postponed Indefinitely</option>
                <option value="5" {{ if eq 5 .Data.activity.Status }}selected{{ end }}>Canceled</option>
            </select>
        </div>
        <div class="w3-half">
            <label><b>Remarks</b> <span><small>(optional)</small></span></label>
            <input name="remarks" class="w3-input w3-border w3-light-grey" type="text"
                placeholder="Additional information about the activity"
                value="{{ if .Data.activity }}{{ .Data.activity.Remarks }}{{ end }}">
        </div>
    </div>

    <button type="submit" class="w3-button w3-margin-top w3-margin-right w3-margin-left w3-teal">Save</button>
    <a href="/activities" class="w3-button w3-margin-top w3-margin-right w3-margin-left w3-black">Close</a>
</form>
{{ end }}