{{ template "layout" .}}

{{ define "content" }}

<div class="w3-container w3-blue-grey w3-margin-bottom">
    <h3>List of Activities</h3>
</div>

<table class="w3-table w3-bordered">
    <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Venue</th>
        <th>Host</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {{ if .Data }}
    {{ range .Data }}
    <tr>
        <td>{{.Title}}</td>
        <td>{{.ParseDate .Start}}</td>
        <td>{{.ParseDate .End}}</td>
        <td>{{.Venue}}</td>
        <td>{{.Host}}</td>
        <td><span class="w3-tag w3-small w3-round-large 
            {{ if eq .Status 1 }} w3-yellow 
            {{ else if eq .Status 2 }} w3-green 
            {{ else if eq .Status 3 }} w3-deep-orange 
            {{ else if eq .Status 4 }} w3-gray 
            {{ else if eq .Status 5 }} w3-red 
            {{ end }}">{{ .ParseStatus .Status }}</span></td>
        <td>
            <a href="/activities/{{.ID}}" class="w3-button w3-small w3-round w3-blue">View</a>
            <button class="w3-button w3-small w3-round w3-deep-orange">Edit</button>
            <button class="w3-button w3-small w3-round w3-pink">Delete</button>
        </td>
    </tr>
    {{end}}
    {{ else }}
    <tr>
        <td>No data.</td>
    </tr>
    {{end}}

</table>

<a href="/activities/new" class="w3-button w3-ripple w3-margin w3-teal">Create</a>
{{ end }}