{{ template "layout" .}}

{{ define "content" }}

<div class="w3-container w3-blue-grey w3-margin-bottom">
    <h3>List of Activities</h3>
</div>

<a href="/activities/new" class="w3-button w3-green w3-right">Create</a>

<table class="w3-table w3-bordered">
    <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Venue</th>
        <th>Host</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {{ if .Data.activities }}
    {{ range .Data.activities }}
    <tr>
        <td>{{.Title}}</td>
        <td>{{.ParseDate .Start}}</td>
        <td>{{.ParseDate .End}}</td>
        <td>{{.Venue}}</td>
        <td>{{.Host}}</td>
        <td><span class="w3-tag w3-small w3-round-large 
            {{ if eq .Status 1 }} w3-yellow 
            {{ else if eq .Status 2 }} w3-green 
            {{ else if eq .Status 3 }} w3-deep-orange 
            {{ else if eq .Status 4 }} w3-gray 
            {{ else if eq .Status 5 }} w3-red 
            {{ end }}">{{ .ParseStatus .Status }}</span></td>
        <td>
            <a href="/activities/{{.ID}}" class="w3-button w3-small w3-round w3-blue">View</a>
            <a href="/activities/{{.ID}}/edit" class="w3-button w3-small w3-round w3-deep-orange">Edit</a>
            <button class="w3-button w3-small w3-round w3-pink"
                onclick="document.getElementById('delete_form{{ .ID }}').style.display='block'">Delete</button>
            <!-- The Modal -->
            <div id="delete_form{{ .ID }}" class="w3-modal">
                <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-pink">
                        <span onclick="document.getElementById('delete_form{{ .ID }}').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>
                        <h2>Delete Confirmation</h2>
                    </header>
                    <div class="w3-container">
                        <span onclick="document.getElementById('delete_form{{ .ID }}').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>
                        <form class="w3-margin" action="/activities/{{ .ID }}/delete" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <p>Are you sure you want to delete this item with id {{ .ID }}?</p>
                            <button type="submit" class="w3-button w3-red">Yes</button>
                            <a class="w3-button w3-black"
                                onclick="document.getElementById('delete_form{{ .ID }}').style.display='none'">No</a>
                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {{end}}
    {{ else }}
    <tr>
        <td>No data.</td>
    </tr>
    {{end}}

</table>

{{ end }}