{{template "layout" .}}

{{ define "content" }}
<div class="w3-container w3-blue-grey">
    <h3>New Activity</h3>
</div>

<form>
    <div class="w3-row-padding w3-margin-top">
        <div class="w3-rest">
            <label><b>Title</b></label>
            <textarea class="w3-input w3-border w3-light-grey" rows="2"></textarea>
        </div>
    </div>
    <div class="w3-row-padding w3-margin-top">
        <div class="w3-half">

            <label><b>Start Date</b></label>
            <input class="w3-input w3-border w3-light-grey" type="date">
        </div>

        <div class="w3-half">

            <label><b>End Date</b></label>
            <input class="w3-input w3-border w3-light-grey" type="date">
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top">
        <div class="w3-half">

            <label><b>Venue</b></label>
            <input class="w3-input w3-border w3-light-grey" type="text">
        </div>
        <div class="w3-half">

            <label><b>Host</b></label>
            <input class="w3-input w3-border w3-light-grey" type="text">
        </div>
    </div>

    <button class="w3-button w3-margin w3-teal">Save</button>
    <a href="/activities">Close</a>
</form>
{{ end }}