{{ define "content"}}

<div class="card">
    <div class="card__header">
        <p class="font-bold px-3">Dashboard</p>
    </div>
    <div class="content">
        <p>This is some sample text spam spam spam spam spam spam spam. <a href="!#">#place</a><a href="!#">#holder</a><a href="!#">@Cirrus</a></p>
    </div>
    <div class="card__footer level content">6:32 PM - 3 Jul 18</div>
    <div class="card__action-bar u-center">
        <button class="btn-transparent outline">Cancel</button>
        <button class="btn-transparent outline">Save</button>
        <button class="btn-transparent outline">Post</button>
    </div>
</div>

{{ end }}