{{ template "layout" .}}

{{ define "content" }}

<div class="w3-container">
    <p>The w3-bordered class adds a bottom border to each table row:</p>
    <button class="w3-button w3-black">Create</button>
    <table class="w3-table w3-bordered">
        <tr>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Doe</td>
            <td>John</td>
            <td>Software Engineer</td>
            <td><button class="w3-btn w3-small w3-round w3-blue">View</button></td>
        </tr>
    </table>
</div>

{{ end }}