{{ template "layout" . }}

{{ define "content" }}

<div class="w3-container">
    <p>The w3-bordered class adds a bottom border to each table row:</p>
    <button class="w3-button w3-black">Create</button>
    <table class="w3-table w3-bordered">
        <tr>
            <th>Activity</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Venue</th>
            <th>Host</th>
            <th>Personnels</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Sample Workshop</td>
            <td>September 15, 2024</td>
            <td>September 19, 2024</td>
            <td>NCR</td>
            <td>DPWH</td>
            <td>Poncio Hipolito</td>
            <td><button class="w3-btn w3-small w3-round w3-blue">View</button></td>
        </tr>
    </table>
</div>

<div class="w3-container w3-margin w3-blue-grey">
    <h3>New Travel</h3>
</div>

<form class="w3-container w3-padding-16">
    <label class="w3-text-teal"><b>Activity</b></label>
    <input class="w3-input w3-border w3-light-grey" type="text">

    <label class="w3-text-teal"><b>Venue</b></label>
    <input class="w3-input w3-border w3-light-grey" type="text">

    <button class="w3-btn w3-blue-grey">Save</button>
</form>

{{ end }}